<h1>Detail hry #{{ gameId }}</h1>

<div class="container-fluid">
  <div class="card md-2">
    <div class="card-header">
      <h2>Detail hry</h2>
    </div>
    <div class="card-body">
      <p>{{ getGameProgress(detail) }}</p>
      <p>Sada kartiček: {{ detail.tileSetId }}</p>
      <p>Počet figurek: {{ detail.followerCount }}</p>
      <p>Hráči:</p>
      <ul>
        <li *ngFor="let player of detail.players">{{ getColorName(player.color) }} - {{ !!player.name ? player.name : '(jméno neuvedeno)' }} - Skóre: {{ player.score }}</li>
      </ul>
    </div>
  </div>

  <app-game-control [gameId]="gameId" class="md-2"></app-game-control>

  <div  class="card md-2">
    <div class="card-header">
      <h2>Log akcí</h2>
    </div>
    <div class="card-body">
      <div *ngIf="!actions">
        <p>Žádné akce nejsou k dispozici.</p>
      </div>
      <div *ngIf="!!actions">
        <ol>
          <li *ngFor="let action of actions">{{ log(action) }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>



