<div class="card">
  <div class="card-header">
    <h1>Zahájení nové hry</h1>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label class="mr-sm-2">Počet figurek:</label>
      <select [(ngModel)]="followerCount">
        <option *ngFor="let x of optionsFollowerCount" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-sm-2">Herní sada:</label>
      <select [(ngModel)]="tileSetId">
        <option *ngFor="let x of optionsTileSetId" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-sm-2">Hráč 1:</label>
      <select [(ngModel)]="color1">
        <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-sm-2">Hráč 2:</label>
      <select [(ngModel)]="color2" [disabled]="!color1">
        <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-sm-2">Hráč 3:</label>
      <select [(ngModel)]="color3" [disabled]="!color2">
        <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-sm-2">Hráč 4:</label>
      <select [(ngModel)]="color4" [disabled]="!color3">
        <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="mr-sm-2">Hráč 5:</label>
      <select [(ngModel)]="color5" [disabled]="!color4">
        <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
      </select>
    </div>
    <button class="btn btn-secondary" (click)="startGame()" [disabled]="!color2">Zahájit hru</button>
  </div>
</div>




