<div class="card">
  <div class="card-header">
    <h2>Ovládání hráčů</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Položit kartičku</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="mr-sm-2">Hráč: </label>
              <select [(ngModel)]="selectedColor">
                <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Id kartičky: </label>
              <input type="text" [(ngModel)]="selectedTileId" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Souřadnice X: </label>
              <input type="number" [(ngModel)]="selectedX" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Souřadnice Y: </label>
              <input type="number" [(ngModel)]="selectedY" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Otočení kartičky:</label>
              <select [(ngModel)]="selectedOrientation">
                <option *ngFor="let x of optionsOrientation" value="{{x.value}}">{{x.viewName}}</option>
              </select>
            </div>
            <button class="btn btn-secondary" (click)="sendPlaceTile()">Provést tah</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Položit figurku</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="mr-sm-2">Hráč:</label>
              <select [(ngModel)]="selectedColor">
                <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Id regionu: </label>
              <input type="text" [(ngModel)]="selectedRegionId" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Souřadnice X: </label>
              <input type="number" [(ngModel)]="selectedX" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Souřadnice Y: </label>
              <input type="number" [(ngModel)]="selectedY" />
            </div>
            <button class="btn btn-secondary" (click)="sendPlaceFollower()">Provést tah</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Odebrat figurku</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="mr-sm-2">Hráč: </label>
              <select [(ngModel)]="selectedColor">
                <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Souřadnice X: </label>
              <input type="number" [(ngModel)]="selectedX" />
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Souřadnice Y: </label>
              <input type="number" [(ngModel)]="selectedY" />
            </div>
            <button class="btn btn-secondary" (click)="sendRemoveFollower()">Provést tah</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Předat tah</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="mr-sm-2">Hráč: </label>
              <select [(ngModel)]="selectedColor">
                <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
              </select>
            </div>
            <button class="btn btn-secondary" (click)="sendPassMove()">Provést tah</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Zadat jméno hráče</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="mr-sm-2">Hráč: </label>
              <select [(ngModel)]="selectedColor">
                <option *ngFor="let x of optionsColor" value="{{x.value}}">{{x.viewName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="mr-sm-2">Jméno hráče: </label>
              <input type="text" [(ngModel)]="selectedName" />
            </div>
            <button class="btn btn-secondary" (click)="sendRegisterName()">Potvrdit</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Ukončit hru</h3>
          </div>
          <button class="btn btn-secondary" (click)="sendStopGame()">Potvrdit</button>
        </div>
      </div>
    </div>
  </div>
</div>




