<h1>Seznam her</h1>

<div class="container-fluid">
  <span class="md-2">
    <button class="btn btn-secondary" (click)="refresh()">Obnovit seznam</button>
    <button class="btn btn-secondary ml-2" (click)="startNewGame()">Zahájit novou hru</button>
    <button class="btn btn-secondary ml-2" (click)="archiveFinishedGames()">Archivovat ukončené hry</button>
  </span>
  <h2>Hry v průběhu</h2>
  <div *ngIf="!inProgress || inProgress.length === 0" class="md-2">
    <p>Žádné hry nejsou v průběhu.</p>
  </div>
  <div *ngIf="!!inProgress" class="md-2">
    <ol>
      <li *ngFor="let game of inProgress"><a [routerLink]="['/game-detail', game]">Hra #{{ game }}</a></li>
    </ol>
  </div>
  <h2>Ukončené hry</h2>
  <div *ngIf="!finished || finished.length === 0" class="md-2">
    <p>Žádné hry nejsou ukončené.</p>
  </div>
  <div *ngIf="!!finished" class="md-2">
    <ol>
      <li *ngFor="let game of finished"><a [routerLink]="['/game-detail', game]">Hra #{{ game }}</a></li>
    </ol>
  </div>
</div>



